{% extends "layout.html.twig" %}

{% block title %}{{ parent() }} :: Edit Vocabulary{% endblock %}

{% block pageTitle %}<i class="icon_genius"></i> Edit Vocabulary{% endblock %}

{% block content %}
    <div class="container-fluid  dashboard-content">
    	<!-- ============================================================== -->
        <!-- pageheader -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="page-header">
                    <h2 class="pageheader-title">{% if( item.id ) %}Edit: {{ item.name }}{% else %}Create New Vocabulary{% endif %}</h2>
                    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                    <div class="page-breadcrumb">
                    	<nav aria-label="breadcrumb">
                            {{ knp_menu_render( 'breadcrumbs', {'template': 'menu/breadcrumb.html.twig'} ) }}
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- ============================================================== -->
        <!-- end pageheader -->
        <!-- ============================================================== -->
        
    	<div class="row">
            <!-- ============================================================== -->
            <!-- basic tabs  -->
            <!-- ============================================================== -->
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card">
                	<h5 class="card-header">Create Taxonomy Vocabulary</h5>
                	<div class="card-body">
						{% if form_errors(form) is not empty %}
			                <div class="alert alert-block alert-danger fade in">
			                    <button type="button" class="close close-sm" data-dismiss="alert">
			                        <i class="icon-remove"></i>
			                    </button>
			                    <strong>Error!</strong> {{ form_errors(form) }}
			                </div>
			            {% endif %}
			            <section class="panel">                                          
			                <div class="panel-body bio-graph-info">
			                	{{ form_start(form, { 'attr': {'class': 'form-horizontal '} }) }}
			                        {{ form_widget(form) }}
			                        
			                    {#
			                        <table class="table gtreetable" 
						                   id="gtreetable" 
						                   data-url="{{ path('ia_cms_taxonomy_vocabulary_terms', {'id': item.id}) }}"
						            >
						                <thead>
						                    <tr>
						                        <th>Terms</th>
						                    </tr>
						                </thead>

						                <tbody>
						                
							                <tr>
							                	<td>
							                		<input type="text" name="taxonomy_vocabulary_form[terms][]" class="form-control" />
							                	</td>
							                </tr>
							            
						                </tbody>
						               
						            </table>
						        #}
			                    {{ form_end(form, {'render_rest': false}) }}
			                </div>
			            </section>  
	        		</div>
				</div>
				
				
			</div>
        </div>
    </div>   
{% endblock content %}

{% block head_styles %}	
	{{ parent() }}
	{# {{ encore_entry_link_tags( 'taxonomy-vocabolary-edit', null, 'admin' ) }} #}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    {# {{ encore_entry_script_tags( 'taxonomy-vocabolary-edit', null, 'admin' ) }} #}
{% endblock %}
