{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{{ form_start(form, { 'action': path('vs_application_settings_handle', {'applicationId': applicationId}), 'attr': {'id': 'formSettings_' ~ applicationId, 'class': 'form-horizontal '} }) }}
    
    {% if formErrors is defined %}
        {{ vs_form.errors( formErrors ) }}     
    {% endif %}

{% if applicationId %}
	<div class="form-group">
        {{ form_label(form.theme, null, {
            'label_attr': {'class': 'col-form-label'}
            }) 
        }}
        
        {{ form_widget(form.theme, {
            'attr': {
                'class': 'form-control',
            }
        }) }}
    </div>
{% endif %}

{{ form_end(form, {'render_rest': false}) }}
