{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.template.about_header_title' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ 'vs_application.template.about_header_title' | trans( {},'VSApplicationBundle' ) }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
    {% if versionData %}
        <p>
            <span style="font-weight: bold;">{{ 'vs_application.template.project_version' | trans( {},'VSApplicationBundle' ) }}: </span>
            {{ versionData.project_version }}
        </p>
        <p>
            <span style="font-weight: bold;">{{ 'vs_application.template.doctrine_migration' | trans( {},'VSApplicationBundle' ) }}: </span>
            {{ versionData.doctrine_migration }}
        </p>
        
        {% if versionData.vankosoft_application_library_version %}
            <p>
                <span style="font-weight: bold;">{{ 'vs_application.template.application_library_version' | trans( {},'VSApplicationBundle' ) }}: </span>
                {{ versionData.vankosoft_application_library_version }}
            </p>
        {% endif %}
    {% endif %}
{% endblock %}
