{% extends "@VSApplication/layout.html.twig" %}

{% block title %}{{ parent() }} :: {{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}{% endblock %}

{% block pageTitle %}
    <h2 class="pageheader-title"><i class="icon_genius"></i> {{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}</h2>
    <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
{% endblock %}

{% block content %}
    <div class="row">
    	<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
            <div class="section-block">
                <h5 class="section-title">{{ 'vs_application.template.dashboard_section_title' | trans( {},'VSApplicationBundle' ) }}</h5>
                <p>{{ 'vs_application.template.dashboard_section_description' | trans( {},'VSApplicationBundle' ) }}</p>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-installation-tab" data-bs-toggle="tab" data-bs-target="#nav-installation" href="#nav-installation" role="tab" aria-controls="nav-installation" aria-selected="true">
                        {{ 'vs_application.template.dashboard_installation_title' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                    <a class="nav-item nav-link" id="nav-test-widgets-tab" data-bs-toggle="tab" data-bs-target="#nav-test-widgets" href="#nav-test-widgets" role="tab" aria-controls="nav-test-widgets" aria-selected="false">
                        {{ 'vs_application.template.dashboard_test_widgets_title' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-installation" role="tabpanel" aria-labelledby="nav-installation-tab">
                    <div class="card">
                        <div class="card-body">
                            {% include '@VSApplication/Pages/Dashboard/partial/installation.html.twig' %}
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-test-widgets" role="tabpanel" aria-labelledby="nav-test-widgets-tab">
                    <div class="card">
                        <div class="card-body">
                            {% include '@VSApplication/Pages/Dashboard/partial/test_widgets.html.twig' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

