{{ form_start(form, { 'attr': { 'class': 'form-horizontal', 'id': 'form-kanbanboard-subtask' } }) }}
    
    <div class="row g-3">
        <div class="col-lg-12">
            {{ form_label(form.issue, null, {
                'label_attr': {'class': 'form-label'}
                }) 
            }}
            
            <div class="input-group mb-3">
                {{ form_widget(form.issue, {'attr': {'class': 'form-select'}}) }}
                <div class="input-group-append ms-2">
                    <button type="button" class="btn btn-primary" id="btnCreateIssue"
                        data-pipelineId="{{ item.pipeline.id }}"
                        data-parentTaskId="{{ item.id }}"
                    >
                        {{ 'vs_application.template.project_issues.create_issue' | trans( {},'VSApplicationBundle' ) }}
                    </button>
                </div>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-12">
            {{ form_label(form.assignedTo, null, {
                'label_attr': {'class': 'form-label'}
                }) 
            }}
            
            <div data-simplebar style="height: 95px;">
                <ul class="list-unstyled vstack gap-2 mb-0">
                    {% for member in boardMembers %}
                        <li>
                            <div class="form-check d-flex align-items-center">
                                <input type="checkbox"
                                    id="kanban_board_sub_task_form_assignedTo_{{ member.id }}"
                                    name="kanban_board_sub_task_form[assignedTo][]"
                                    class="form-check-input me-3"
                                    value="{{ member.id }}"
                                >
                                <label class="form-check-label d-flex align-items-center"
                                    for="kanban_board_sub_task_form_assignedTo_{{ member.id }}"
                                >
                                    <span class="flex-shrink-0">
                                        <img src="{{ member.photoPath }}"
                                            alt="{{ member.name }}"
                                            class="avatar-xxs rounded-circle"
                                        />
                                    </span>
                                    <span class="flex-grow-1 ms-2">
                                        {{ member.name }}
                                    </span>
                                </label>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <!--end col-->
        
        <div class="col-lg-4">
            {{ form_label(form.priority, null, {
                'label_attr': {'class': 'form-label'}
                }) 
            }}
            
            {{ form_widget(form.priority, {'attr': {'class': 'form-select'}}) }}
        </div>
        <!--end col-->
        
        <div class="col-lg-4">
            {{ form_label(form.status, null, {
                'label_attr': {'class': 'form-label'}
                }) 
            }}
            
            {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
        </div>
        <!--end col-->
        
        <div class="col-lg-4">
            {{ form_label(form.dueDate, null, {
                'label_attr': {'class': 'form-label'}
                }) 
            }}
            
            {{ form_widget(form.dueDate, {'attr': {
                    'class': 'form-control',
                    'data-provider': 'flatpickr',
                    'placeholder': 'Select date'
                }}
            ) }}
        </div>
        <!--end col-->
    </div>
    <!--end row-->
{{ form_end(form, {'render_rest': false}) }}