{{ form_start(form, { 'attr': {'class': 'form-horizontal ', 'id': 'btnCreateIssueForm'} }) }}
    <div class="form-group">
        {{ form_label(form.title, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.description, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {{ form_widget( form.labelsWhitelist, { 'value' : labelsWhitelist | join(',') } ) }}
    <div class="form-group">
        {{ form_label(form.labels, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        {{ form_widget(form.labels, {
            'attr': {
                'class': 'form-control',
                
            }
        }) }}
    </div>

    <fieldset class="border border-dark rounded p-3">
        <legend class="w-auto float-none ps-2 pe-2">
            {{ 'vs_application.form.project_issue.status'  | trans( {},'VSApplicationBundle' ) }}
        </legend>
        
        {% for status in form.status %}
            <div class="me-2">
                {{ form_widget( status, { 'attr': { 'class': 'form-check-input', 'checked': loop.index == 1 } } ) }}
                {{ form_label( status, null, { 'label_attr': { 'class': 'form-check-label' } } ) }}
            </div>
        {% endfor %}
    </fieldset>
{{ form_end(form, {'render_rest': false}) }}