{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

<div class="card">
    <div class="card-header">
        <div class="float-start" style="height:30px; padding-top:10px;">
            {{ 'vs_application.template.project_issues.project_issue_tasks_title' | trans( {},'VSApplicationBundle' ) }}
        </div>
        <div class="btn-group float-end">
            {% if( itemId ) %}
                <a class="btn btn-primary btnIssueTask"
                    title="{{ 'vs_application.template.project_issues.button_create_issue_task' | trans( {},'VSApplicationBundle' ) }}"
                    href="{{ path('vs_application_project_issue_tasks_create', {'issueId': itemId}) }}"
                    data-taskId="0"
                >
                    {{ 'vs_application.template.project_issues.button_create_issue_task' | trans( {},'VSApplicationBundle' ) }}
                </a>&nbsp;
            {% endif %}
        </div>
    </div>
    <div class="card-body" style="padding: 0 10px 0 10px;">
        {% if itemTasks | length > 0 %}
            {% include '@VSApplication/Pages/ProjectIssues/partial/issue_tasks_table.html.twig' %}
        {% else %}
            {{ alerts.info( 'vs_application.template.there_are_no_items_to_display' | trans( {},'VSApplicationBundle' ) ) }}
        {% endif %}
    </div>
</div>