{% extends "@VSApplication/layout.html.twig" %}

{# Import Macros #}
{% import "@VSApplication/Macros/alerts.html.twig" as alerts %}

{# Override Blocs #}
{% block title %}{{ parent() }} :: {{ 'vs_application.menu.kanbanboard_show' | trans( {},'VSApplicationBundle' ) }} :: {{ board.name }}{% endblock %}
{% block pageTitle %}
    <h4 class="pageheader-title">
        <i class="fas fa-bug"></i> 
{{ 'vs_application.menu.kanbanboard_show' | trans( {},'VSApplicationBundle' ) }}: {{ board.name }}
    </h4>
{% endblock %}

{% block content %}

{% endblock %}

{% block modals %}
    {{ parent() }}
    
    {#
    {% include 'Pages/KanbanBoardTasks/modal/assign_to_member.html.twig' %}
    {% include 'Pages/KanbanBoardTasks/modal/add_attachment.html.twig' %}
    #}
{% endblock %}

{% block head_styles %} 
    {{ parent() }}
    
    {{ encore_entry_link_tags( 'js/project-issues-board-task' ) }}
{% endblock %}

{% block body_scripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags( 'js/project-issues-board-task' ) }}
{% endblock %}
