<div id="FormContainer" data-itemId="{{ item.id }}">
    {{ form_start(form, { 'attr': {
        'class': 'form-horizontal',
        'id': 'ProjectIssueCommentForm'
    } }) }}
        
        {{ form_widget(form.redirectUrl) }}
        
        <div class="form-group">
            {{ form_label(form.message, null, {
                'label_attr': {'class': 'form-label'}
                }) 
            }}
            {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>

{% if isAjaxRequest is defined and isAjaxRequest and useCkEditor == 5 %}
    {{ encore_entry_script_tags( 'ckeditor5' ) }}
{% endif %}
