<div class="card">
    <div class="card-body">
        <div class="d-flex mb-3">
            <h6 class="card-title mb-0 flex-grow-1">
                {{ 'vs_application.template.project_issues.task_attachments' | trans( {},'VSApplicationBundle' ) }}
            </h6>
            <div class="flex-shrink-0">
                
                <!--
                    data-bs-toggle="modal"
                    data-bs-target="#addAttachmentModal"
                -->
                <button type="button" class="btn btn-soft-danger btn-sm btnAddAttachmentModal"
                    data-taskId="{{ task.id }}"
                >
                    <i class="ri-attachment-2 align-bottom"></i> 
                    {{ 'vs_application.template.project_issues.add_attachment' | trans( {},'VSApplicationBundle' ) }}
                </button>
            </div>
        </div>
        
        <div class="vstack gap-2">
            {% for attachment in task.attachments %}
                <div class="border rounded border-dashed p-2">
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0 me-3">
                            <div class="avatar-sm">
                                <div class="avatar-title bg-light text-secondary rounded fs-24 card-file-icon"
                                    data-MimeType="{{ attachment.type }}"
                                >
                                    <i class="fa"></i>
                                </div>
                            </div>
                        </div>
                        <div class="flex-grow-1 overflow-hidden">
                            <h5 class="fs-13 mb-1">
                                <a href="javascript:void(0);" class="text-body text-truncate d-block">
                                    {{ attachment.originalName }}
                                </a>
                            </h5>
                            <div>
                                {{ fileManager.fileSize( attachment ) | readable_filesize }}
                            </div>
                        </div>
                        <div class="flex-shrink-0 ms-2">
                            <div class="d-flex gap-1">
                                <a class="btn btn-icon text-muted btn-sm fs-18"
                                    href="{{ path( 'vsorg_kanbanboard_task_attachment_download', {'taskId': task.id, 'attachmentId': attachment.id} ) }}"
                                    title="{{ 'vs_application.template.items_index_row_action_download' | trans( {},'VSApplicationBundle' ) }}"
                                >
                                    <i class="ri-download-2-line"></i>
                                </a>
                                
                                
                                <div class="dropdown">
                                    <button class="btn btn-icon text-muted btn-sm fs-18 dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="ri-more-fill"></i>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {#
                                        <li>
                                            <a class="dropdown-item" href="javascript:void(0);">
                                                <i class="ri-pencil-fill align-bottom me-2 text-muted"></i> 
                                                Rename
                                            </a>
                                        </li>
                                        #}
                                        <li>
                                            <a class="dropdown-item"
                                                href="{{ path( 'vsorg_kanbanboard_task_attachment_delete', {'taskId': task.id, 'attachmentId': attachment.id} ) }}"
                                                title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
                                            >
                                                <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i> 
                                                {{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            {#
            <div class="mt-2 text-center">
                <button type="button" class="btn btn-success">View more</button>
            </div>
            #}
        </div>
    </div>
</div>
<!--end card-->