<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex mb-3">
            <h6 class="card-title mb-0 flex-grow-1">
                {{ 'vs_application.template.project_issues.assigned_to' | trans( {},'VSApplicationBundle' ) }}
            </h6>
            <div class="flex-shrink-0">
                <button type="button" class="btn btn-soft-danger btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#inviteMembersModal"
                >
                    <i class="ri-share-line me-1 align-bottom"></i> 
                    {{ 'vs_application.template.project_issues.assign_member' | trans( {},'VSApplicationBundle' ) }}
                </button>
            </div>
        </div>
        <ul class="list-unstyled vstack gap-3 mb-0">
            {% for member in task.assignedTo %}
                <li>
                    <div class="d-flex align-items-center">
                        <div class="flex-shrink-0">
                            <img src="{{ member.photoPath }}"
                                alt="{{ member.name }}"
                                class="avatar-xs rounded-circle"
                            >
                        </div>
                        <div class="flex-grow-1 ms-2">
                            <h6 class="mb-1"><a href="pages-profile.html">{{ member.name }}</a></h6>
                            {% if member.designation %}
                                <p class="text-muted mb-0">{{ designations[member.designation] }}</p>
                            {% endif %}
                        </div>
                        <div class="flex-shrink-0">
                            <div class="dropdown">
                                <button class="btn btn-icon btn-sm fs-16 text-muted dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="ri-more-fill"></i>
                                </button>
                                <ul class="dropdown-menu">
                                    {#
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0);">
                                            <i class="ri-eye-fill text-muted me-2 align-bottom"></i>
                                            View
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0);">
                                            <i class="ri-star-fill text-muted me-2 align-bottom"></i>
                                            Favorite
                                        </a>
                                    </li>
                                    #}
                                    <li>
                                        <a class="dropdown-item btnDeleteResource"
                                            href="{{ path( 'vs_application_project_issues_kanbanboard_task_delete_member', {'taskId': task.id, 'memberId': member.id} ) }}"
                                            data-csrfToken="{{ csrf_token( member.id ) }}"
                                            data-redirectUrl="{{ path( 'vs_application_project_issues_kanbanboard_task_show', {'pipelineId': pipelineId, 'taskId': task.id} ) }}"
                                            title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
                                        >
                                            <i class="ri-delete-bin-5-fill text-muted me-2 align-bottom"></i>
                                            {{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!--end card-->