<div class="card mb-3">
    <div class="card-body">
        <div class="mb-4">
            <select class="form-control" name="choices-single-default" data-choices data-choices-search-false>
                <option value="">Select Task board</option>
                {% for pipeline in board.pipelines %}
                    <option value="{{ pipeline.id }}" {% if pipeline.id == task.pipeline.id %}selected="selected"{% endif %}>{{ pipeline.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="table-card">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td class="fw-medium">Tasks No</td>
                        <td>{{ task.number }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">Tasks Title</td>
                        <td>{{ task.title }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">Project Name</td>
                        <td>{{ task.projectTitle }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">Priority</td>
                        <td>{{ task.priority | vs_kanbanboard_task_priority }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">Status</td>
                        <td>{{ task.status | vs_kanbanboard_task_status }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">Due Date</td>
                        <td>{{ task.dueDate | date( 'd.m.Y' ) }}</td>
                    </tr>
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>
</div>
<!--end card-->