<div class="card mb-3">
    <div class="card-body">
        <div class="form-group mb-4">
            <label for="SelectBoxPipeline">{{ 'vs_application.template.project_issues.pipeline' | trans( {},'VSApplicationBundle' ) }}</label>
            <select class="form-control" name="choices-single-default"{# data-choices data-choices-search-false#}
                id="SelectBoxPipeline"
                data-taskId="{{ task.slug }}"
            >
                {% for pipeline in board.pipelines %}
                    <option value="{{ pipeline.slug }}" {% if pipeline.slug == task.pipelineSlug %}selected="selected"{% endif %}>{{ pipeline.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="table-card">
            <table class="table mb-0">
                <tbody>
                    <tr>
                        <td class="fw-medium">{{ 'vs_application.template.project_issues.task_no' | trans( {},'VSApplicationBundle' ) }}</td>
                        <td>{{ task.number }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">{{ 'vs_application.template.project_issues.task_title' | trans( {},'VSApplicationBundle' ) }}</td>
                        <td>{{ task.title }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">{{ 'vs_application.template.project_issues.project_name' | trans( {},'VSApplicationBundle' ) }}</td>
                        <td>{{ task.projectTitle }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">{{ 'vs_application.template.project_issues.priority' | trans( {},'VSApplicationBundle' ) }}</td>
                        <td>{{ task.priority | vs_kanbanboard_task_priority_subtle }}</td>
                    </tr>
                    <tr>
                        <td class="fw-medium">{{ 'vs_application.template.project_issues.status' | trans( {},'VSApplicationBundle' ) }}</td>
                        <td>{{ task.status | vs_kanbanboard_task_status_subtle }}</td>
                    </tr>
                    {% if task.dueDate %}
                        <tr>
                            <td class="fw-medium">{{ 'vs_application.template.project_issues.due_date' | trans( {},'VSApplicationBundle' ) }}</td>
                            <td>{{ task.dueDate }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            <!--end table-->
        </div>
    </div>
</div>
<!--end card-->