<div class="tab-pane active" id="home-1" role="tabpanel">
    <h5 class="card-title mb-4">
        {{ 'vs_application.template.project_issues.project_issue_comments_tab' | trans( {},'VSApplicationBundle' ) }}
    </h5>
    
    <div data-simplebar class="px-3 mx-n3 mb-2">
        {% for comment in task.comments %}
            <div class="d-flex mb-4">
                <div class="flex-shrink-0">
                    {% if  comment.authorPhoto %}
                        <img src="{{ comment.authorPhoto }}"
                            alt="{{ comment.authorEmail }}"
                            class="avatar-xs rounded-circle"
                        />
                    {% else %}
                        <img src="{{ asset( 'build/default/images/users/avatar-7.jpg' ) }}"
                            alt="{{ comment.authorEmail }}"
                            class="avatar-xs rounded-circle"
                        />
                    {% endif %}
                </div>
                <div class="flex-grow-1 ms-3">
                    <h5 class="fs-13">
                        <a href="pages-profile.html">{{ comment.authorName }}</a> 
                        <small class="text-muted">{{ comment.createdAt }}</small>
                    </h5>
                    <p class="text-muted">{{ comment.message | raw }}</p>
                    <a class="badge text-muted bg-light btnIssueComment"
                        {#
                        href="{{ path('vsorg_project_issue_comment_create', {'issueId': task.issue.id, 'parentCommentId': comment.id}) }}"
                        #}
                        data-commentId="0"
                        data-redirectUrl="{{ path( 'vs_application_project_issues_kanbanboard_task_show', {'taskId': task.id} ) }}"
                    >
                        <i class="mdi mdi-reply"></i> 
                        {{ 'vs_application.template.project_issues.button_reply' | trans( {},'VSApplicationBundle' ) }}
                    </a>
                    
                    {% for childComment in comment.children %}
                        <div class="d-flex mt-4">
                            <div class="flex-shrink-0">
                                {% if  childComment.authorPhoto %}
                                    <img src="{{ childComment.authorPhoto }}"
                                        alt="{{ childComment.authorEmail }}"
                                        class="avatar-xs rounded-circle"
                                    />
                                {% else %}
                                    <img src="{{ asset( 'build/default/images/users/avatar-10.jpg' ) }}"
                                        alt="{{ childComment.authorEmail }}"
                                        class="avatar-xs rounded-circle"
                                    />
                                {% endif %}
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="fs-13">
                                    <a href="pages-profile.html">{{ childComment.authorName }}</a> 
                                    <small class="text-muted">{{ childComment.createdAt }}</small>
                                </h5>
                                <p class="text-muted">{{ childComment.message | raw }}</p>
                                {#
                                <a href="javascript: void(0);" class="badge text-muted bg-light">
                                    <i class="mdi mdi-reply"></i> 
                                    {{ 'vs_application.template.project_issues.button_reply' | trans( {},'VSApplicationBundle' ) }}
                                </a>
                                #}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    
    {{ form_start(commentForm, { 'attr': {'class': 'mt-4'}, 'action': path( 'vs_application_project_issues_kanbanboard_task_save_comment', {'taskId': task.id, 'commentId': 0} ) }) }}
        {{ form_widget(commentForm.redirectUrl, {value : path( 'vs_application_project_issues_kanbanboard_task_show', {'taskId': task.id} )}) }}
        
        <div class="row g-3">
            <div class="col-lg-12">
                <label class="form-label" for="project_issue_comment_form_message">
                    {{ 'vs_application.form.kanbanboard_task.leave_comment' | trans( {},'VSApplicationBundle' ) }}
                </label>
                {{ form_widget(commentForm.message, {'attr': {'class': 'form-control'}}) }}
            </div>
            <!--end col-->
            <div class="col-12 text-end">
                {#
                <button type="button" class="btn btn-ghost-secondary btn-icon waves-effect me-1"><i class="ri-attachment-line fs-16"></i></button>
                #}
                {{ form_widget(commentForm.btnSave, {'attr': {'class': 'btn btn-success'}}) }}
            </div>
        </div>
        <!--end row-->
    {{ form_end(commentForm, {'render_rest': false}) }}
    
</div>
<!--end tab-pane-->