<div class="tab-pane" id="messages-1" role="tabpanel">
    <div class="d-flex mb-4">
        <h6 class="card-title mb-0 flex-grow-1">
            {{ 'vs_application.template.project_issues.task_attachments' | trans( {},'VSApplicationBundle' ) }}
        </h6>
        <div class="flex-shrink-0">
            
            <!--
                data-bs-toggle="modal"
                data-bs-target="#addAttachmentModal"
            -->
            <button type="button" class="btn btn-soft-danger btn-sm btnAddAttachmentModal"
                data-taskId="{{ task.id }}"
            >
                <i class="ri-attachment-2"></i> 
                {{ 'vs_application.template.project_issues.add_attachment' | trans( {},'VSApplicationBundle' ) }}
            </button>
            
        </div>
    </div>
        
    <div class="table-responsive table-card">
        <table class="table table-borderless align-middle mb-0">
            <thead class="table-light text-muted">
                <tr>
                    <th scope="col">{{ 'vs_application.template.project_issues.file_name' | trans( {},'VSApplicationBundle' ) }}</th>
                    <th scope="col">{{ 'vs_application.template.project_issues.attachment_type' | trans( {},'VSApplicationBundle' ) }}</th>
                    <th scope="col">{{ 'vs_application.template.project_issues.attachment_size' | trans( {},'VSApplicationBundle' ) }}</th>
                    <th scope="col">{{ 'vs_application.template.items_index_row_action' | trans( {},'VSApplicationBundle' ) }}</th>
                </tr>
            </thead>
            <tbody>
                {% for attachment in task.attachments %}
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <div class="avatar-sm">
                                    <div class="avatar-title bg-primary-subtle text-primary rounded fs-20 tab-file-icon"
                                        data-MimeType="{{ attachment.type }}"
                                    >
                                        <i class="fa"></i>
                                    </div>
                                </div>
                                <div class="ms-3 flex-grow-1">
                                    <h6 class="fs-15 mb-0">
                                        <a href="javascript:void(0)">
                                            {{ attachment.originalName }}
                                        </a>
                                    </h6>
                                </div>
                            </div>
                        </td>
                        <td>{{ attachment.type }}</td>
                        <td>{{ attachment.size | readable_filesize }}</td>
                        <td>
                            <div class="dropdown">
                                <a href="javascript:void(0);" class="btn btn-light btn-icon" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="true">
                                    <i class="ri-equalizer-fill"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuLink1" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate(0px, 23px);">
                                    {#
                                    <li>
                                        <a class="dropdown-item" href="javascript:void(0);">
                                            <i class="ri-eye-fill me-2 align-middle text-muted"></i>
                                            View
                                        </a>
                                    </li>
                                    #}
                                    <li>
                                        <a class="dropdown-item"
                                            href="{{ path( 'vs_application_project_issues_kanbanboard_task_download_attachment', {'taskId': task.id, 'attachmentId': attachment.id} ) }}"
                                            title="{{ 'vs_application.template.items_index_row_action_download' | trans( {},'VSApplicationBundle' ) }}"
                                        >
                                            <i class="ri-download-2-fill me-2 align-middle text-muted"></i>
                                            {{ 'vs_application.template.items_index_row_action_download' | trans( {},'VSApplicationBundle' ) }}
                                        </a>
                                    </li>
                                    <li class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item btnDeleteResource"
                                            href="{{ path( 'vs_application_project_issues_kanbanboard_task_delete_attachment', {'taskId': task.id, 'attachmentId': attachment.id} ) }}"
                                            data-csrfToken="{{ csrf_token( item.id ) }}"
                                            data-redirectUrl="{{ path( 'vs_application_project_issues_kanbanboard_task_show', {'pipelineId': pipelineId, 'taskId': task.id} ) }}"
                                            title="{{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}"
                                        >
                                            <i class="ri-delete-bin-5-line me-2 align-middle text-muted"></i>
                                            {{ 'vs_application.template.items_index_row_action_delete' | trans( {},'VSApplicationBundle' ) }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!--end table-->
    </div>
</div>
<!--end tab-pane-->