<div class="row">
    <div class="col-lg-12">
        <div class="card" id="tasksList">
            <div class="card-header border-0">
                <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0 flex-grow-1">
                        {{ 'vs_application.template.project_issues.sub_tasks' | trans( {},'VSApplicationBundle' ) }}
                    </h5>
                    <div class="flex-shrink-0">
                       <div class="d-flex flex-wrap gap-2">
                            <button class="btn btn-danger add-btn text-uppercase btnCreateSubtaskModal"
                                data-taskId="{{ task.id }}"
                                data-subTaskId="0"
                            >
                                <i class="ri-add-line align-bottom me-1"></i> 
                                {{ 'vs_application.template.project_issues.create_sub_task' | trans( {},'VSApplicationBundle' ) }}
                            </button>
                       </div>
                    </div>
                </div>
            </div>
            <!--end card-body-->
            <div class="card-body">
                {% if task.subTasks | length %}
                    <table class="table align-middle table-nowrap mb-0" id="tasksTable">
                        <thead class="table-light text-muted">
                            <tr>
                                <th class="sort" data-sort="id">{{ 'vs_application.template.items_index_row_id' | trans( {},'VSApplicationBundle' ) }}</th>
                                <th class="sort" data-sort="tasks_name">{{ 'vs_application.template.project_issues.task' | trans( {},'VSApplicationBundle' ) }}</th>
                                <th class="sort" data-sort="assignedto">{{ 'vs_application.template.project_issues.assigned_to' | trans( {},'VSApplicationBundle' ) }}</th>
                                <th class="sort" data-sort="due_date">{{ 'vs_application.template.project_issues.due_date' | trans( {},'VSApplicationBundle' ) }}</th>
                                <th class="sort" data-sort="status">{{ 'vs_application.template.project_issues.status' | trans( {},'VSApplicationBundle' ) }}</th>
                                <th class="sort" data-sort="priority">{{ 'vs_application.template.project_issues.priority' | trans( {},'VSApplicationBundle' ) }}</th>
                            </tr>
                        </thead>
                        <tbody class="list form-check-all">
                            {% for subTask in task.subTasks %}
                                <tr>
                                    <td class="id">
                                        <a class="fw-medium link-primary"
                                            href="{{ path( 'vs_application_project_issues_kanbanboard_task_show', {'pipelineId': pipelineId, 'taskId': subTask.id} ) }}"
                                        >
                                            {{ subTask.number }}
                                        </a>
                                    </td>
                                    <td>
                                        <div class="d-flex">
                                            <div class="flex-grow-1 tasks_name">{{ subTask.title }}</div>
                                            <div class="flex-shrink-0 ms-4">
                                                <ul class="list-inline tasks-list-menu mb-0">
                                                    <li class="list-inline-item">
                                                        <a href="{{ path( 'vs_application_project_issues_kanbanboard_task_show', {'pipelineId': pipelineId, 'taskId': subTask.id} ) }}">
                                                            <i class="ri-eye-fill align-bottom me-2 text-muted"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="edit-item-btn" href="#showModal" data-bs-toggle="modal">
                                                            <i class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                                                        </a>
                                                    </li>
                                                    <li class="list-inline-item">
                                                        <a class="remove-item-btn" data-bs-toggle="modal" href="#deleteOrder">
                                                            <i class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="assignedto">
                                        <div class="avatar-group">
                                            {% for member in subTask.assignedTo %}
                                                <a href="javascript: void(0);"
                                                    class="avatar-group-item"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-trigger="hover"
                                                    data-bs-placement="top"
                                                    title="{{ member.name }}"
                                                >
                                                    <img src="{{ member.photo.path | imagine_filter( 'users_crud_index_thumb' ) }}"
                                                        alt="{{ member.name }}"
                                                        class="rounded-circle avatar-xxs"
                                                    />
                                                </a>
                                            {% endfor %}
                                        </div>
                                    </td>
                                    <td class="due_date">
                                        {% if subTask.dueDate %}{{ subTask.dueDate | date( 'd M, Y' ) }}{% endif %}
                                     </td>
                                    <td class="status">
                                        {{ subTask.status | vs_kanbanboard_task_status }}
                                    </td>
                                    <td class="priority">
                                        {{ subTask.priority | vs_kanbanboard_task_priority }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!--end table-->
                {% else %}
                    <div class="noresult">
                        <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop" colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                            <h5 class="mt-2">{{ 'vs_application.template.items_index_there_are_no_result_found' | trans( {},'VSApplicationBundle' ) }}</h5>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!--end card-body-->
        </div>
        <!--end card-->
    </div>
    <!--end col-->
</div>
<!--end row-->
