<div>
    {{ form_start(form, { 'action': path('vs_application_application_handle', {'applicationId': applicationId}), 'attr': {'id': 'formApplicationEdit', 'class': 'form-horizontal '} }) }}
        {{ form_widget(form._token) }}
        
        <div class="formFields">
            <div class="form-group">
                {{ form_label(form.title, null, {
                    'label_attr': {'class': 'col-sm-8 control-label'}
                    }) 
                }}
        
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    {{ form_end(form, {'render_rest': false}) }}
</div>