{% import "@VSApplication/Macros/form.html.twig" as vs_form %}

{% if useFormMethod is not defined %}
    {% set useFormMethod = item.id ? 'PUT' : 'POST' %}
{% endif %}
{% if useFormMethod is defined %}{% set formMethod = useFormMethod %}{% else %}{% set formMethod = 'PUT' %}{% endif %}

{{ form_start(form, { 'attr': {
    'class': 'form-horizontal',
    'id': 'ProjectIssueTaskForm'
}, 'method': formMethod }) }}
    {{ form_widget( form.pipeline ) }}
    
    <div class="form-group">
        {{ form_label(form.issue, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.issue, {'attr': {'class': 'form-select'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.issueType, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.issueType, {'attr': {'class': 'form-select'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.priority, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.priority, {'attr': {'class': 'form-select'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.status, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.status, {'attr': {'class': 'form-select'}}) }}
    </div>
    
    <div class="form-group">
        {{ form_label(form.dueDate, null, {
            'label_attr': {'class': 'form-label'}
            }) 
        }}
        
        {{ form_widget(form.dueDate, {'attr': {'class': 'form-control'}}) }}
    </div>
    
    {{ vs_form.buttons( form, null ) }}
{{ form_end(form, {'render_rest': false}) }}